<%if object.errors.any?%>
    <div>
        The form contains <%=pluralize(object.errors.count, "error")%>
    </div>
    <div>
        <ul>
            <%object.errors.full_messages.each do |t|%>
                <li><%=t%></li>
            <% end %>
        </ul>
    </div>
<% end %>