<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
<%if @upcoming_events.any?%>
<div>
    <h2>Upcoming Events</h2>
    <%=render partial: 'shared/events_feed', locals: {events: @upcoming_events}%>
</div>
<%end%>

<%if @previous_events.any?%>
<div>
    <h2>Past Events</h2>
    <%=render partial: 'shared/events_feed', locals: {events: @previous_events}%>
</div>
<%end%>